ActionBar {
	background-color: #490094;
	color: #fff;
}

.listing {
	
}

.listing__image_wrapper {
	height: 260;
	background-color: red;
	background-size: cover;
	background-repeat: no-repeat;
}

.listing__image_wrapper__image {
	width: 200;
	height: 199;
}

.listing__lead_text {
	font-size: 30;
	margin-top: 15;
	color: #490094;
	horizontal-align: center;
	font-weight: bold;
}