

.listing {
	margin: 20;
}

.listing__search_wrapper {
	background-color: #DCDCDC;
	margin-bottom: 20;
}


.listing__search_wrapper__search {
	color: #fff;
}

.business__list {
	margin-bottom: 20;
	height: 130;
}

.business__list__business_image_wrapper {
	background-color: #f8f8f8;
	background-repeat: no-repeat;
	background-size: cover;
}

.business__list__business_info_wrapper {
	padding-top: 10;
	padding-left: 20;
	color: #500097;
}

.business__list__business_info_wrapper__lead_text {
	font-size: 15;
	margin-bottom: 12;
}

.business__list__business_info_wrapper__sub_text {
	font-size: 14;
}

.business__list__business_icon_wrapper {
	padding-left: 14;
}

.business__list__business_icon_wrapper__item {
	margin: 5;
}