<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>7650192444-0ogsjj5e2dim460f17k9ti90ercdpgks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7650192444-0ogsjj5e2dim460f17k9ti90ercdpgks</string>
	<key>API_KEY</key>
	<string>AIzaSyCJurXYpvIMfRsOF0StsN9U3WVISsv1Id8</string>
	<key>GCM_SENDER_ID</key>
	<string>7650192444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nativescript.lseft</string>
	<key>PROJECT_ID</key>
	<string>lsetf-eda22</string>
	<key>STORAGE_BUCKET</key>
	<string>lsetf-eda22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:7650192444:ios:857525f6ce5e24cf</string>
	<key>DATABASE_URL</key>
	<string>https://lsetf-eda22.firebaseio.com</string>
</dict>
</plist>