.login {
  padding: 20;
  padding-top: 100; 
  background-image : url('~/assets/images/back.png');
  background-size: cover;
  background-repeat: no-repeat; 
}


.login__lead_text {
  font-size: 40;
  font-weight: bold;
  color: #3398F3;
}

.login__sub_text {
  font-size: 12;
  color: #46009F;
  margin-bottom: 35;
}


.login__input_wrapper {
  background-color: #F7F6F8;
  padding: 5;
  margin-left: 38;
  margin-right: 38;
  margin-bottom: 20;
}

.image__wrapper {

}

.login__image_wrapper {
  width: 20;
  vertical-align: center
}

.login__field__wrapper {

}

.login__field__wrapper__input {
  background-color: transparent;
  color: #000;
  placeholder-color: #000;
  font-size: 12;
}

.login__button {
  color: #fff;
  width: 260;
  background-color: #3398F3;
}

.login__button_sub_text {
  font-size: 13;
  margin-top: 5;
  color: #46009F;
}

.login__button_logo {
  width: 150;
  margin-top: 120;
}